html{
	background: url('../images/mixed.jpg');
}


.average{
	display:inline-block;
	color:white;
	margin-top:10px;
}
input{
	width: 100%;
	background:#fff;
	color:black;
	border:none;
	margin-top:5px;
	height:50px;
}
input:focus{
	background-color:#FFFEE7;
	color:black;
}
/*********************************/

.spacing1 {
	position:relative;
	color:green;	
	left:100px;
}

.spacing2 {
	position:relative;
	left:75px;
}

.spacing3 {
	position:relative;
	color:blue;
	left:50px;
}

.spacing4 {
	position:relative;
	color:blue	;
	left:25px;
}


.positon{
	position:relative;
}

.delete{
	display:inline-block;
	height: 25px;
	width:150px;
	padding-top: 8px;
	padding-bottom:30px;
	border-radius:5px;
	position:relative;
	left:200px;
	background:red;
	cursor: pointer;
	opacity:.7;
}

.delete:hover{
	opacity:1;
}
/*********************************/



::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
}

button{
	height:50px;
	width:200px;
	border:none;
	color:white;
	background:#286090;
	font-size: 20px;
	cursor: pointer;
	margin-top:3%;
}
.but{
	margin-top:5px;
	width:100%;
	text-align: center;
}

