html{
	background: url('http://images.cryhavok.org/d/14759-1/Black+Background+Wood+1+by+Freeman.jpg');
}


.average{
	background: #990000;
	margin-top:10px;
}
input{
	width: 100%;
	background:#424262;
	color:black;
	border:none;
	margin-top:5px;
	height:20px;
}
input:focus{
	background-color:lavender;
	color:black;
}
/*********************************/

.spacing1 {
	position:relative;
	color:blue;	
	left:9%;
}

.spacing2 {
	position:relative;
	color:purple;
	left:12%;
}

.spacing3 {
	position:relative;
	color:red;
	left:6%;
}

.spacing4 {
	position:relative;
	color:green;
	left:3%;
}


.positon{
	position:relative;
}

.delete{
	display:inline-block;
	height:50px;
	width:150px;
	border-radius:50%;
	background:red;
	margin-left:50px;          /*CHANGE THIS LATER ON */
	cursor: pointer;
	opacity:.7;
}

.delete:hover{
	opacity:1;
}
/*********************************/



::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}

button{
	height:50px;
	width:200px;
	border:none;
	color:white;
	font-size: 20px;
	text-shadow: 2px 2px black;
}
.but{
	margin-top:5px;
	width:100%;
	text-align: center;
}

